IP_ENVIRONMENT=development
IP_SEED__HOST=127.0.0.1
IP_SEED__PORT=15432
IP_SEED__USER=etl_rw
IP_SEED__PASSWORD=replace-with-etl-password
IP_SEED__CONNECT_TIMEOUT_S=5
IP_SEED__COMMAND_TIMEOUT_S=60
IP_SEED__LOCK_TIMEOUT_S=5
IP_SEED__BATCH_SIZE=1000
